.inputContainer {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

.textInput {
  flex-grow: 1; /* Alanın çoğunu kaplamasını sağlar */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
  outline: none; /* Tıklandığında çıkan dış çerçeveyi kaldırır */
}

.textInput:focus {
  border-color: #007bff; /* Seçiliyken kenarlık rengini değiştirir */
}

.sendButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.sendButton:hover {
  background-color: #0056b3;
}